<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Su Casa</title>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap-custom.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

<div id="app" class="container">

    <h1 class="text-center">Social Dancers' Portal</h1>

    <!-- Placed at the end of the document so the pages load faster -->
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="index.html">вечеринки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">школы танцев</a>
        </li>
    </ul>

    <div class="row">
        <div  class="col-10">

            <div v-for="event in events" class="separated-article">
                <a :name="event.day" href=""></a>
                <article class="row">
                    <div class="col-sm-12 col-md-3 ">
                        <div v-if="event.imgPromo">
                            <img :src="source+event.imgPromo.formats.thumbnail.url">
                        </div>

                    </div>
                    <div class="col-sm-12 col-md">
                        <details>
                            <summary>
                                <h6>{{ event.shortName }}-{{event.day}}</h6>
                                <h5>📅<span>{{ event.date }}, {{ event.time.substr(0, 5) }}</span>
                                    💵<span>{{ event.fee }}, </span>
                                    <span>🚂 {{ event.address }}, </span>
                                    <span> 🎹{{ event.balance }}, </span>
                                    <span>🎧 {{ event.dj }}</span><br>
                                </h5>
                                <h6>посмотреть полный анонс</h6>
                            </summary>
                            <p>{{ event.description }}</p>
                        </details>
                    </div>

                </article>
                <hr>
            </div>

        </div>

        <div class="col-2">
            <ul class="nav flex-column sticky-top">
                <li class="nav-item flex-column">
                    <a class="nav-link active" href="#"> </a>
                </li>
                <li class="nav-item flex-column">
                    <a class="nav-link active" href="#понедельник">пн</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#вторник">вт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#среда">ср</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#четверг">чт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#пятница">пт</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#суббота">сб</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#воскресенье">вс</a>
                </li>
            </ul>
        </div>


    </div>
</div>
<script>
    let app = new Vue({
        el: '#app',
        data: {
            message: 'Hello 42!',
            source: 'https://event-editor-q9ijg.ondigitalocean.app',
            events: []
        },
        methods: {
            dayOfWeek: function (strdate) {
                d = new Date(strdate)
                const days = ['воскресенье', 'понедельник', 'вторник', 'среда', 'четверг', 'пятница', 'суббота']
                return days[d.getDay()]
            },
            prepareEvents: function (events){
                for (let i=0; i<events.length;i++){
                    events[i].day = this.dayOfWeek(events[i].date)
                }

                return events
            }
        },
        async beforeMount() {
            //this.events = this.prepareEvents(this.events)

            let response = await fetch(this.source+'/parties?_sort=date:asc,rank:asc');

            if (response.ok) { // если HTTP-статус в диапазоне 200-299
                // получаем тело ответа (см. про этот метод ниже)
                let events = await response.json();
                for (i = 0; i < events.length; i++) {
                    if (!events[i].imgPromo) console.log('not exist')
                }

                console.log(events)
                this.events = this.prepareEvents(events)
            } else {
                alert("Ошибка HTTP: " + response.status);
            }
        }
    })
</script>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
