<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Su Casa</title>
    <!-- Bootstrap core CSS -->
    <link href="bootstrap-custom.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="style.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>

<div id="app" class="container">

    <h1 class="text-center">Social Dancers' Portal</h1>

    <!-- Placed at the end of the document so the pages load faster -->
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="index.html">вечеринки</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="studios.html">школы танцев</a>
        </li>
    </ul>

    <div class="row">
        <div class="col-10">

            <article v-for="event in events" class="row">
                <div class="col-sm-12 col-md-3 ">
                    <div v-if="event.imgPromo">
                        <img :src="'https://event-editor-zjwkw.ondigitalocean.app'+event.imgPromo.formats.small.url">
                    </div>

                </div>
                <div class="col-sm-12 col-md">
                    <details>
                        <summary>
                            <h6>{{event.shortName}}</h6>
                            <h5>📅<span>{{event.date}}, {{ event.time.substr(0,5) }}</span>
                                💵<span>{{ event.fee }}, </span>
                                <span>🚂 {{ event.address }}, </span>
                                <span> 🎹{{ event.balance}}, </span>
                                <span>🎧 {{event.dj}}</span><br>
                            </h5>
                            <h6>посмотреть полный анонс</h6>
                        </summary>
                        <p>{{event.description}}</p>
                    </details>
                </div>
            </article>
            <hr>

        </div>


    </div>
</div>
    <script>
    let app = new Vue({
        el: '#app',
        data: {
            message: 'Hello 42!',
            events: [{"id":1,"shortName":"merengue party","date":"2021-03-03","time":"19:00:00.000","address":"вулиця Алматинська, 74, Київ","description":"Go ahead and enter app3.seen = false in the console. You should see the message disappear.\n\nThis example demonstrates that we can bind data to not only text and attributes, but also the structure of the DOM. Moreover, Vue also provides a powerful transition effect system that can automatically apply transition effects when elements are inserted/updated/removed by Vue.\n\nThere are quite a few other directives, each with its own special functionality. For example, the v-for directive can be used for displaying a list of items using the data from an Array:","dj":"dj Stribanek","balance":"3 меренге, 1 сон","weekDay":"воскресенье","fee":"500 грн","published_at":"2021-03-06T12:11:59.382Z","created_at":"2021-03-06T12:11:55.057Z","updated_at":"2021-03-06T12:11:59.419Z","imgPromo":null}]
        },
        methods: {

        },
        async beforeMount() {
            let response = await fetch('https://event-editor-zjwkw.ondigitalocean.app/parties');

            if (response.ok) { // если HTTP-статус в диапазоне 200-299
                               // получаем тело ответа (см. про этот метод ниже)
                let events = await response.json();
                for (i=0; i<events.length; i++){
                    if (!events[i].imgPromo) console.log('not exist')
                }

                console.log(events)
                this.events = events
            } else {
                alert("Ошибка HTTP: " + response.status);
            }
        }
    })
</script>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/popper.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
