<article class="row">
    <div class="col-sm-12 col-md-3 ">
        <img src="http://salsalife.com.ua/images/stories/salsa/solomon2-03.jpg">
    </div>
    <div class="col-sm-12 col-md">
        <details>
            <summary>
                <h6>Welcome Spring Bachata Party
                </h6>
                <h5>📅<span>08.03, 19:00</span> 💵<span>от 50 до 80 грн, </span>
                    <span>🚂 ул. Л.Толстого 11/61, </span>
                    <span> 🎹: 3 бачаты, 1 сальса, </span>
                    <span>🎧 dj Costa Rica, dj Igor</span><br>
                </h5>
                <h6>посмотреть полный анонс</h6>
            </summary>
            <p>2 марта, вторник, 20.00 - 23.30

                Первая весенняя вечеринка!

                В этот вечер для Вас музыка от Dj Costa Rica & Dj Igor

                В начале вечеринки мастер-класс по бачате от Costa Rica

                Музыка: 3 бачаты / 1 сальса.

                Вход: 50 грн. при условии репоста, 80 грн. без репоста.

                Адрес: ул. Льва Толстого 11/61, кафе Solomon, 2 этаж (м. Льва Толстого).

                www.facebook.com</p>
        </details>
    </div>
</article>
<hr>